@(teams: Seq[Team], league: scala.collection.mutable.LinkedHashMap[Integer,scala.collection.mutable.ListBuffer[Match]])




@main(Html("Tournament")) {

     <h3>League Table</h3>
    <table class="table table-striped table-bordered table-condensed">
    	<thead>
    		<tr>
    			<th>Pos</th>
    			<th>Team name</th>
			<th>Player 1</th>
			<th>Player 2</th>
			<th>PTS</th>
			
    		</tr>
    	</thead>
    	<tbody>
			@for(team <- teams) {
				<tr>
					<td>
						1
					</td>
					<td>
						<a href="#">@team.name</a>
					</td>
					<td>
						<a href="#">@team.player1.name</a>
					</td>
					<td>
						<a href="#">@team.player2.name</a>
					</td>
					<td>
						0
					</td>
				</tr>
			}
    	</tbody>
    </table>
    
    <select name="SelectTagActionForm"  size="1"  onchange="@routes.TournamentController.matches">

	@for(week <- 0 until league.size) {
	  <option value="@week">Week @week</option>

	}
   </select>
    
    <table class="table table-striped table-bordered table-condensed">
    	<thead>
    		<tr>
    			<th>Team 1</th>
    			<th>Team 2</th>
			<th colspan="2" style="align:center" >Score</th>

			
			
    		</tr>
    	</thead>
    	<tbody>
			@for( m <- league(0)) {
				<tr>
					<td>
						<a href="#">@m.team1.name</a>
					</td>
					<td>
						<a href="#">@m.team2.name</a>
					</td>
					<td>
						<input type="text" >
					</td>
					<td>
						<input type="text" >
					</td>
				</tr>
			}
    	</tbody>
    </table>
    


	
}