@main(Html("Admin")) {

	<div>
		<h2>Add a new player</h2>
		<p>
		   Create a new player for foosball tournament.
		</p>
		<p>
			<a class="btn" href="@routes.PlayerController.form">Add player</a>
		</p>
    </div>
	
	<div>
		<h2>Edit</h2>
		<p>
		   Edit a player
		</p>
		<p>
			<a class="btn" href="@routes.PlayerController.form">Edit player</a>
		</p>
    </div>
	
	<div>
		<h2>Start tournament</h2>
		<p>
			Start tournament.
		</p>
		<p>
			<a class="btn" href="#">Start tournament</a>
		</p>
	</div>
	
	<div>
		<h2>View table</h2>
		<p>
			View table
		</p>
		<p>
			<a class="btn" href="#">table</a>
		</p>
    </div>
}